.menu {
	margin:0;
	padding: 0;
	top: 0;
	position: fixed;
	width: 100%;
	overflow: hidden;
	background-color: #138117;
	z-index:1;
}

.menu a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 16px 16px 15px 16px; /*top-right-bottom-left*/
	text-decoration: none;
	font-size: 18px;
}

.menu a:hover {
	background-color: #ddd;
	color: black;
}

.active_link {
	background-color: #1dc11d;
	color: white;
}

.menu .icon {
	display: none;
}

html, body {
	margin:0;
	padding:0;
	height: 100%;
	/*min-height: 100%; calc(100% - 52px);*/
	background-image: url("media/campagna_campo_cielo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
	background-size: cover;/*1400px 700px;*/
	font-family: serif;
}

#pagina {
	min-height:100%;
	position:relative;
}

.content {
	padding-top: 60px;
	padding-bottom: 100px;
	word-wrap: break-word;
	margin: 0 2% 0 2%;
}

#logo_home {
	margin:0;
	padding:1px 0 0 0;
}

@font-face {
	font-family: "Cookie-local";
	src:url("./media/Cookie-Regular.ttf");
}

@font-face {
	font-family: "Century";
	src: url("./media/Century.ttf");
}

#logo_txt {
	font-family: 'Cookie-local';
	font-size: 34px;
	padding: 8px 20px 2px 20px;
	margin: 2px 2px 2px 2px; /* top-right-bottom-left */
}

.avviso {
	color: green;
}

.errore {
	color: #b30000;
}

.attenzione {
	color: #b30000;
}

.dati_stampati, .dati_stampati tr, .dati_stampati td {
	border: 1px solid black;
    border-collapse: collapse;
	padding: 5px;
}

.dati_stampati {
	width:100%;
	overflow-x:auto;
}

.dati_stampati td {
	overflow: hidden;
	position: relative;
}

.dati_stampati form {
	margin: 0;
	padding: 0;
	display: grid;
}

.prima_riga {
	color: white;
	font-weight: bold;
	background-color: #5c5ccf;
	text-align: center;
}

.altre_righe {
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
}

.altre_righe:hover {
	background-color: #E5E5E5;
}

.nota {
	overflow: auto;
	margin: auto;
	width: 400px;
}

#scroll_tabella {
	margin-bottom: 20px;
	clear: both;
}

@media screen and (min-width: 700px) {
	#scroll_tabella {
		overflow-x: auto;
	}
}

@media screen and (max-width: 700px) {
	#scroll_tabella {
		overflow-x: scroll;
		/*margin-bottom: 80px;*/
	}
}

footer {
	width: 100%;
	background-color: #138117;
	height: 60px;
	position: absolute;
	bottom: 0;
}

.footer_p {
	color: white;
	margin: 0;
	padding: 5px 5px 2px 5px; /*top-right-bottom-left*/
	text-align: center;
}

.footer_a {
	color: white;
}

/*@media screen and (max-width: 700px) {
	.content {
		padding-bottom: 0;
	}
	footer {
		position: unset;
	}
}*/

@media screen and (min-width: 700px) {
	
	.links {
		float: right;
	}
	
}

@media screen and (max-width: 700px) {

	.menu a:not(:first-child) {
		display: none;
	}
	.menu a.icon {
		float: right;
		display: block;
		font-size: 18px;
	}
	
	/*.menu.responsive {position: relative;}*/
	.menu.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.menu.responsive a {
		float: none;
		display: table;
		text-align: left;
	}
	
}

label {
	display: inline-block;
	float: left;
	clear: left;
	width: 150px;
	text-align: left;
}

form {
	clear: both;
	width: 100%;
	float: left;
}

input, textarea {
	margin-bottom: 20px;
	float: left;
	font-size: 16px;
}

select {
	float: left;
}

.bottoneAllineato {
	float: none !important;
	margin-left: 5px;
	vertical-align: top;
}

.bottoneAllineatoColorato {
	float: none !important;
	margin-left: 0;
	margin-right: 10px;
	vertical-align: top;
	border: none;
	color: white;
	font-size: 16px;
	padding: 10px 20px;
	background-color: #005600;
}

@media screen and (min-width: 700px) {

	input[type=text], input[type=email], input[type=password], input[type=tel], textarea {
		width:25%;
		float:left;
	}
	
}

input[type=submit] {
	clear: both;
}

.bottone, #btn_nuova_prenotazione {
	border: none;
	color: white;
	font-size: 16px;
	padding: 10px 20px;
	background-color: #005600;
}

.bottone:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.bottonePiccolo {
	border: none;
	color: white;
	font-size: 14px;
	padding: 5px 10px;
	background-color: #005600 /*138117*/;
	margin-bottom: 10px;
	vertical-align: middle;
}

.bottonePiccolo:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 700px) {

	input[type=text], input[type=email], input[type=password], input[type=tel], input[type=date], input[type=time], input[type=number], textarea, select {
		clear: both;
		width: 98%;
		height: 30px;
	}
	
	textarea {
		height: 120px;
	}
	
	select {
		margin-top: 20px;
		margin-bottom: 10px;
		height: 50px;
		font-size: 16px;
	}
		
	.bottone, #btn_nuova_prenotazione {
		width: 100%;
		height: 50px;
	}
	
	.bottoneAllineato {
		height: 40px;
		width: 60px;
		margin-bottom: 50px;
		margin-left: 0;
	}
	
}

.buttonLingua, .buttonLingua input[type=submit], .buttonLingua form {
	display: inline;
	margin: 0;
	float: none;
}

.titolo_pagina {
	color: navy;
}

/* NEWS */

.contenuto_notizia {
	display: table;
}

.align_news_img {
	margin-right: 10px;
	margin-bottom: 10px;
	width: 200px;
	height: 200px;
}

@media screen and (max-width: 700px) {
	.contenuto_notizia, .align_news {
		display: block !important;
	}
	.align_news_img {
		width: 100px;
		height: 100px;
	}
}

.align_news {
	display: table-cell;
	vertical-align: middle;
}

.titolo_sezione {
	color: white;
	background-color: #005600;
	padding: 5px;
}

.notizia a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

.notizia {
	transition: 0.25s;
}

.notizia:hover {
	background-color: #E5E5E5;
}

.separatore {
	width: 100%;
	margin-bottom: 50px;
	margin-top: 50px;
}


/*INDEX*/

.slideshow_container {
	align-items: center;
	justify-content: center;
}

.slideshow_container img {
	width: 700px;
	height: 400px;
}

.slideshow_container * {
	vertical-align: middle;
}

.mini_immagini {
	margin-top: 20px;
	margin-bottom: 30px;
}

@media screen and (min-width: 800px) {
	.slideshow_container {
		display: flex;
	}
	.slideshow_container_mobile {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	.slideshow_container {
		display: none;
	}
	.slideshow_container_mobile {
		display: block;
	}
	.slideshow_container_mobile img {
		width: 100%;
		height: 240px;
	}
}

.titolo_big {
	font-family: 'Cookie-local';
	font-size: 60px;
	color: #138117;
	margin: 0 15px 0 0;
	display: inline;
	font-weight: initial;
}

.testo_titolo {
	margin-top: 0;
	display: inline;
	font-family: Cookie-local;
	font-size: 40px;
	font-weight: initial;
}

#titolo_home {
	text-align: center;
}

.paragrafo_home {
	margin-right: 20%;
	margin-left: 20%;
	font-family: Century;
	font-size: 20px;
}

@media screen and (max-width: 700px) {
	.paragrafo_home {
		margin-right: 20px;
		margin-left: 20px;
	}
}

/* PIATTI */

.foto_piatto_tab {
	width: 300px;
	height: 200px;
}

@media screen and (max-width: 700px) {
	.foto_piatto_tab {
		width: 150px;
		height: 100px;
	}
}

.riga_piatto {
	transition: 0.25s;
}

.riga_piatto:hover {
	background-color: #E5E5E5;
}

/* INFO */
@media screen and (min-width: 700px) {
	.mappa {
		width: 650px;
		height: 400px;
	}
}

@media screen and (max-width: 700px) {
	.mappa {
		width: 400px;
		height: 250px;
	}
}

.logo_info {
	width: 256px;
	height: 256px;
	float: left;
}
